<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %>
    <title>Filmaholic | Ratings en Reviews</title>
</head>

<body>
    <header>
        <nav>
            <a href="http://localhost:3000/">Filmaholic</a>
            <label for="">Search</label>
            <input type="text" placeholder="Search movie.." id="find-movies">
        </nav>
        <section>
            <div class="dropdown">
                <button class="dropbtn">Sort</button>
                <div class="dropdown-content">
                    <button class="alphabetical">Alphabetical</button>
                    <button class="vote-average">Votes</button>
                    <button class="release-date">Date</button>
                </div>
            </div>
        </section>
    </header>

    <!-- HTML gets rendered here -->
    <main id="movie-template">
        <% movies.forEach(function(movie) { %>
            <article class="movie">
                <a href="<%= movie.id %>">
                <img src="https://image.tmdb.org/t/p/w200/<%= movie.poster_path %>" alt="Cover of <%= movie.title %>" width="224" height="336" background-color="#333">
                <p class="movie-title"><%= movie.title %></p>
                <p><%= movie.release_date %></p>
                <p><%= movie.vote_average %></p>
                </a>
                </article>
        <% }) %>

    </main>
</body>

</html>